// Typeface

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../assets/fonts/SourceSansPro-ExtraLight.ttf) format(truetype);
    font-weight: 200;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../assets/fonts/SourceSansPro-Regular.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../assets/fonts/SourceSansPro-SemiBold.ttf) format(truetype);
    font-weight: 600;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../assets/fonts/SourceSansPro-Bold.ttf) format(truetype);
    font-weight: 700;
}