/* ------------------------- Responsive Design Width ------------------------ */
$tablet-width: 768px;
$desktop-width: 1280px;

/* --------------------------------- Colors --------------------------------- */
$primary-dark-color: #303030;
$primary-theme-color: #0133FF;