@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.modal {

    &__window {
        position: absolute;
        box-sizing: border-box;
        color: $font-color-dark;
        background-color: $font-color-light;
        top: 6.125rem;
        left: 10rem;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        border-radius: 0.1875rem;
        width: fit-content;
        height: 28rem;
        padding: 0 4rem;
    }

    &__title {
        padding-top: 1.5rem;

        @include tablet {
            padding: 2rem 0 1.5rem;
        }
    }

    &__content {

        @include tablet {
            padding-bottom: 2rem;
        }
    }

}