@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.navbar {
    padding: 2rem 0;
    margin: 0 auto;
    color: $font-color-light;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    @include desktop {
        width: 69.5rem;
    }
    
    &__wrapper {
        background-color: $primary-dark-color;
    }

    &--left {
        display: flex;
        align-items: center;
    }

    &__logo {
        height: 2.5rem;
        cursor: pointer;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        margin: 0;
        font: 1.125rem;

        & li {
            display: flex;
            align-items: center;
            margin-right: 1.25rem;
            padding: 1.25rem 0;
            gap: 0.25rem;
            cursor: pointer;

            &:hover {
                box-shadow:0px 2px 0px 0px $font-color-light;
            }

        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

}